@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
body{ font-family: 'Open Sans', sans-serif; color:#333; line-height:1.71;}
ul,ol{ padding:0;}
li{ list-style:none;}
img{ max-width:100%;}
/*Font Family*/
.banner-content h1, .banner-content h2, h3, h4, .main-title, .title-h2{ font-family: 'Oswald', sans-serif;}

/*H3*/
h3{ font-size:20px; font-weight:500; color:#fcc004; margin:0 0 20px; text-transform:uppercase;}

/*H4*/
h4{font-weight:500; color:#013d5d; margin:0 0 6px; text-transform:uppercase;}

/*After*/
.footer-bottom:after{font-size:0px; line-height:0px; height:0px; content:'.'; visibility:hidden; display:block; clear:both;}

/*Navbar Default*/
.navbar-default{ border:0!important; background:rgba(255,255,255,0.75); -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.23); -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.23); box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.23);}
.navbar-brand{height:auto; padding:20px 15px;}
/*Container*/
.container{ width:100%; max-width:1150px;}
.container-small{ width:93%; margin:auto;}
/*NAV*/
#navbar{ margin:0 -15px;}
.navbar-default .navbar-nav > li > a{ font-size:15px; color:#000; padding:32px 20px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{ background:transparent; color:#013d5d;}


/*Banner*/
.banner-block{ position:relative;}
.banner-img{}
.banner-img img{ width:100%;}
@media (min-width: 540px){
.banner-content{ position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%); transform:translate(-50%, -50%); max-width:860px; width:100%; padding:0 15px;}	
}
.banner-content{ text-align:center;}
.banner-content h1{ color:#fcc004; font-size:52px; margin:0 0 10px; text-transform:uppercase;}
.banner-content h2{ color:#000; font-size:34px; margin:0 0 40px; text-transform:uppercase;}
.form-search{ color:#000; font-size:34px; margin:0; max-width:830px; width:100%; position:relative; line-height:0;}
.form-search .search-input{ width:100%; height:66px; border:1px solid #ddd; padding:0 168px 0 23px; font-size:16px; color:#000; border-radius:100px;}
.form-search .submit-search{ background:#013d5d; font-size:20px; font-weight:600; color:#ccc; border:0; width:139px; height:58px; border-radius:100px; position:absolute; right:5px; top:50%; margin-top:-29px;}
.form-search .submit-search:hover, .form-search .submit-search:focus{ background:#fcc004; color:#fff;}

/*Main Title*/
.main-title{ font-size:28px; color:#013d5d; font-weight:500; padding-bottom:20px; text-align:center; background:url(../images/bottom-border.jpg) no-repeat center bottom; text-transform:uppercase; margin:0 0 40px;}
/*Title h2*/
.title-h2{ font-size:28px; color:#013d5d; font-weight:500; padding-bottom:20px; background:url(../images/bottom-border.jpg) no-repeat left bottom; text-transform:uppercase; margin:0 0 40px;}

/*Block Space */
.block-space { padding:44px 0 44px;}
/*Block One*/
.block-one{ background:url(../images/background-bgimg.jpg) no-repeat center bottom; background-size:cover;}

/*Block Two*/
.block-two{ text-align:center; padding-bottom:0;}
.block-two .three-rowblocks{ text-align:center; padding-top:66px;}
.bottom-img img{ width:100%;}

/*circle-blocks*/
.circle-blocks{ width:175px; height:166px; border-radius:100%; padding:5px; background:#ccd8df; margin:0 auto; line-height:156px; text-align:center; margin-bottom:18px;}
.circle-blocks img{ max-width:116px;}

/*Block Three*/
.block-three{ background:#f3f3f3;}
.block-three .owl-carousel{ padding-top:30px;}


/*OWL*/
.owl-carousel.owl-drag .owl-item{ background:#fff; text-align:center; font-size:13px; min-height:390px; line-height:20px;}
.owl-carousel.owl-drag .owl-item h3{ margin-bottom:12px;}
.owl-carousel.owl-drag .owl-item .content-block{ background:#fff; text-align:center; font-size:13px; line-height:20px; padding:16px 12px;}
.owl-nav .owl-prev, .owl-nav .owl-next{ width:35px; height:35px; text-indent:-9999999px; position:absolute; top:50%; margin-top:-41px;}
.owl-nav .owl-prev{ background:url(../images/left-arrow.png) no-repeat center center; left:-47px;}
.owl-nav .owl-next{ background:url(../images/right-arrow.png) no-repeat center center; right:-47px;}

.owl-dots{ text-align:center; padding:36px 0 7px;}
.owl-dots .owl-dot{ display:inline-block; padding:0 7px;}
.owl-dots .owl-dot span{ width:7px; height:7px; background:#b1b1b1; border-radius:100%; display:inline-block;}
.owl-dots .owl-dot.active span{ background:#013d5d; -webkit-box-shadow:0px 0px 0px 6px #f7dc87; -moz-box-shadow:0px 0px 0px 6px #f7dc87; box-shadow:0px 0px 0px 6px #f7dc87;}

/*More Btn*/
.more-btn{ background:#013d5d; color:#fff; font-size:14px; display:block; padding:9px 10px; position: absolute; bottom:0; width:100%;}
.more-btn:hover, .more-btn:focus{ background:#fcc004; color:#fff; text-decoration:none;}

/*Block Four*/
.block-four{ padding:74px 0;}

/*Help Block*/
.hepl-block{ line-height:22px;}
.hepl-block .title-h2{ margin-bottom:20px;}
.hepl-block p{ margin-bottom:30px;}
.help-btn{ background:#013d5d; color:#fff; text-transform:uppercase; font-size:18px; padding:14px 52px; display:inline-block; border-radius:100px;}
.help-btn:hover{ background:#fcc004; color:#fff; text-decoration:none;}
.setp-block{ background:#fef2cd; border:1px solid #f6eccc; padding:25px 28px 10px; border-radius:10px; margin-bottom:25px; -webkit-box-shadow:0px 0px 4px 0px rgba(0,0,0,0.44); -moz-box-shadow:0px 0px 4px 0px rgba(0,0,0,0.44); box-shadow:0px 0px 4px 0px rgba(0,0,0,0.44);}
.setp-color2{ background:#fee9a7; border-color:#efdda6;}
.setp-color3{ background:#fddf81; border-color:#e8cf7f;}
.setp-color4{ background:#fdd65c; border-color:#e2c159;}

/*Block Five*/
.block-five{ background:#f3f3f3; padding:60px 0 46px;}
.block-five .main-title{ margin-bottom:54px;}
.block-five ul li{ background:#f3f3f3; padding-bottom:10px;}
.block-five ul li a{ font-size:16px; color:#013d5d;}
.block-five ul li a:hover{ color:#fcc004; text-decoration:none;}

/*Footer*/
#footer{ padding:27px 0 20px; background:#001f2f;}
.footer-nav{ text-align:center;}
.footer-nav ul li{ display:inline-block; padding:6px;}
.footer-nav ul li a{ text-transform:uppercase; color:#fff;}
.footer-nav ul li a:hover{ color:#fcc004; text-decoration:none;}

.cards-block{ float:right;}
.coppyright{ font-size:12px; color:#fbfcfc; padding-top:6px;}

.form-block{ border-top:4px solid #105470; background:#fff url(../images/dropdown-arrow.png) no-repeat center top; padding:26px 32px 17px; max-width:400px; width:100%; float:right;}
.form-group{ margin-bottom:20px;}
.input-text{ position:relative;}  
.input-text .fa{ color:#fcc004; font-size:20px; position:absolute; top:9px; left:16px;}
.input-text .fa.fa-trash{ left:96%; cursor:pointer;}
.input-text .input-upload-button{ position:absolute; top:9px; right:16px; color:#013d5d; border:0; background:transparent;}
.input-text .input-upload-button .fa{ position:static;}
.input-text .form-control{ height:38px; border:0; border-bottom:1px solid #ddd; padding:0 15px 0 56px; box-shadow:none; border-radius:0;}
.input-text.input-upload .form-control{ padding-right:44px;}
.submit-btn{ height:39px; display:block; font-size:16px; background:#013d5d; color:#fff; text-align:center; width:100%; border:0; text-transform:uppercase;}
.submit-btn:hover{ background:#fcc004; color:#fff;}
.two-rowblocks .col-sm-6{ float:none; display:table-cell; vertical-align:middle;}

/*Responsive*/

/* IPHONE
----------------------------------------------- */
@media (max-width:991px) {
.navbar-brand{ padding:5px 15px}
.navbar-header{ float:none;}
.navbar-default.navbar-default{ height:53px;}
.navbar-default .navbar-toggle{ border-color:#fcc004; margin-top:10px; display:block; float:right;}
.navbar-default .navbar-toggle .icon-bar{ background-color:#fcc004;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{ border-color:#013d5d;  background-color:#fff;}
.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar{  background-color:#013d5d;}
.navbar-default .navbar-nav > li > a{ padding:5px 20px; display:block;}
.navbar-nav > li{ float:none; display:block;}
.collapse.pull-right{ float:none!important;}
#navbar.navbar-collapse{ overflow:hidden;-webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out; display:none!important;}
#navbar.collapse{ position: absolute!important; z-index: 9999;  background:rgba(255,255,255,0.75); width: 100%;}
#navbar.collapse .navbar-nav{ float:none!important;}
#navbar.collapse.in{ float:none!important; display:block!important;}
}




@media (max-width:767px) {
h3{ font-size:18px; margin-bottom:9px;}
.pull-right{ float:none!important;}
.navbar-default.navbar-default{ position:static; margin:0;}
.banner-content{ padding:18px 15px 20px;}
.banner-content h1{ font-size:22px;}
.banner-content h2{ font-size:19px; margin-bottom:15px;}
.form-search .search-input{ height:40px; font-size:16px; line-height:40px; padding:0 105px 0 15px;} 
.form-search .submit-search{ font-size:16px; height:36px; width:100px; margin-top:-18px;}
.block-space{ padding:20px 0;}
.form-img{ display:none;}
.main-title, .title-h2{ font-size:22px; padding-bottom:17px; margin-bottom:22px;}
.form-block{ padding:20px 16px 15px; float:none; margin:auto;}	
.block-two .three-rowblocks{ padding-top:12px;}
.block-two .three-rowblocks .col-sm-4{ padding-bottom:15px;}
.block-three .owl-carousel{ padding-top:10px;}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{ display:block!important;}
.owl-nav .owl-prev{ left:-20px;}
.owl-nav .owl-next{ right:-20px;}
.owl-carousel{ padding:0 20px;}
.owl-dots{ padding:7px 0 7px;}
.step-block{ padding:17px 15px 5px; margin-bottom:20px;}
.hepl-block p{ font-size:13px;}
.help-btn{ font-size:15px; padding:10px 30px;}
.block-five .main-title{ margin-bottom:20px;}
.block-five ul li{ padding-bottom:3px;}
.block-five ul li a{ font-size:14px;}
#footer{ padding:8px 0 7px;}
.footer-nav ul li{ padding:3px;}
.footer-nav ul li a{ font-size:13px;}
.two-rowblocks .col-sm-6{ display:block;}
.two-rowblocks .col-sm-6 .hepl-block{text-align:center;}
.two-rowblocks .col-sm-6 .hepl-block .title-h2{ background-position: center bottom;}
.block-space.block-two{ padding-bottom:0;}
}



/* Samsung Tab
----------------------------------------------- */
@media only screen and (min-device-width : 540px) and (max-device-width : 767px) {
.banner-content{ max-width:500px; margin:auto;}
.block-two .three-rowblocks .col-sm-4{ max-width:400px; margin:auto;}
.setp-block{ display:inline-block; width:45%; vertical-align:top; margin:0px 2% 20px;}	
.four-rowblocks .col-sm-3{ width:49%; display:inline-block; vertical-align:top;}
.block-two .three-rowblocks .col-sm-4{ width:49%; display:inline-block; vertical-align:top;}		
}


@media only screen and (min-device-width : 660px) and (max-device-width : 767px) {
.block-two .three-rowblocks .col-sm-4{ width:33.333%; float:left;}	
	
}


/* TABLET LAYOUT 

----------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
.banner-content{ max-width:670px;}
.banner-content h1{ font-size:46px;}
.banner-content h2{ font-size:29px;}
.owl-nav .owl-prev{ left:-27px;}
.owl-nav .owl-next{ right:-27px;}
.owl-carousel{ padding:0 12px;}
		
}
@media only screen and (min-width:992px) and (max-width: 1144px) {
.navbar-default .navbar-nav > li > a{ padding:32px 8px;}
}

